---
---


// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  .container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
  }
.header {
  position: relative; 
  padding-left:20%;
}

 .bg_container {
	width: 100%;
	height:80%;
	margin: 0 auto;
	text-decoration: none;
	color: white;
	position: relative;

  }
  
.bg_title {
    text-decoration: none;
    color: white;
	position: absolute;
	bottom:0px;
}

.nav-collapse {

	position: absolute;
	bottom:0;
}

  h1 {
	text-align: center;
  }
  .question {
	margin: 50px 0px 30px;
  }

  .question_question {
	margin: 5px 0px 5px;
	font-size:18px;
	font-weight:550;
  }

  .options {
    display: block;
    align-items: center; /* Vertically center the items */
	
}
  .options label {

	display: block;
	margin: 15px 10px;
	font-size: 16px;
	
  }
  .options input[type="radio"] {
	margin-right: 5px;

  }
  
  .submit-btn {
	display: block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  .submit-btn:hover {
	background-color: #0056b3;
  }

  p.intro{
	font-size: 20px;
  }
  .intro_container {
	display: flex;
  }
  .column {
	flex: 1;
  }
  .image-container img {
	width:auto;
	height: auto;
	flex:1;
	margin-right:2rem;
  }
  ul.question-statements{
	padding: 0;
	margin:10px 30px;
	font-size:16px;
	width: 100%;
  }
  div.question-statements{
	padding: 0;
  }



  ul.intro{
	font-size:18px;
	list-style-type: none;
	padding: 0;
  }
  li.intro {
	margin-bottom: 2px; 
	font-size: 16px;
  }
  
  ul.answer {
	list-style-type: none;
	counter-reset: list-counter; 
	margin: 0px 10px;
	width: 100%;
	font-size: 18px;
  }


  li.answer {
	counter-increment: list-counter; 
  }


  li.answer::before {
	content: counter(list-counter) ") "; 
	font-weight: bold;
  }

  .correct{
	color: blue;
  }